
.middl {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: rgb(5, 5, 37); 
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; 
  transition: 0.3s;
}



.middl > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
}

.cont {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
  z-index: 1; 
  transform: 0.3s;
}
.cont:hover
{
  transform: scale(1.1);
  box-shadow: 0 4px 10px 10px rgba(164, 149, 168, 0.459);
}


.cont > img {
  width: 40px;
  margin-bottom: 20px;
}

.cont > p {
  font-size: 20px;
  margin: 10px 0;
}

.inp {
  display: flex;
  flex-direction: column;
  gap: 15px; 
  margin: 0 auto;
}



.inp > input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.cont > button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #0d60c5;
  width: 100%;
  max-width: 200px;
  margin-top: 20px;
  cursor: pointer;
}


.location {
  margin: 20px auto;
  width: 100%;
  text-align: center;
}

.location iframe {
  border: 0;
  width: 100%;
  height: 400px; 
  border-radius: 8px;
}
